@import "~antd/lib/style/themes/default.less";
@import "../../utils/utils.less";
@import "../../index.less";

.tableList {
  .tableListOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
}

.tableListForm {
  :global {
    .ant-form-item {
      margin-bottom: 24px;
      margin-right: 0;
      display: flex;
      > .ant-form-item-label {
        width: auto;
        line-height: 32px;
        padding-right: 8px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
  .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: @screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}
/*卡片块*/
.cardCol{
  margin: 10px 5px;
  cursor: pointer;
}
.cardCol:hover{
  box-shadow: 0 0 3px 1px #ccc;
}
/*项目列表*/
.cardColTop{
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.cardColTop h3{
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cardColTop p{
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardColBottom{
  padding: 10px;
}
.cardMsgDesc{
  height: 60px;
  line-height: 20px;
  word-wrap:break-word;
  overflow: hidden;
  font-size: 12px;
}

.ant-card-head-title{
  padding: 0;
}
.cardMsgB{
  margin-top: 10px;
}
.cardMsgB:after{
  clear: both;
  content: '';
  display: block;
}
.cardMsgPrice{
  float: left;
  color: #FF5D38;
}
.cardMsgDeadline{
  float: right;
}
/*任务列表*/
.customImage{
  width: 100%;
  height: 80px;
}
.customImage h3{
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  padding: 10px;
  word-wrap:break-word;
}
.customCard{
  padding: 10px;
  position: relative;
  height: 100%;
}
.customCard p{
  line-height: 18px;
  font-size: 12px;
}
.descBox{
  margin-top: 6px;
  height: 60px;
}
.customBtn{
  padding: 10px;
  margin-bottom: 20px;
  height: 32px;
}
.customBtn button{
  float: right;
}
.filesBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: #fff;
  padding: 10px;
}




