@import "~antd/lib/style/themes/default.less";
@import "../../utils/utils.less";
@import "../../index.less";

.tableList {
  .tableListOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
}

.tableListForm {
  :global {
    .ant-form-item {
      margin-bottom: 24px;
      margin-right: 0;
      display: flex;
      > .ant-form-item-label {
        width: auto;
        line-height: 32px;
        padding-right: 8px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
  .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: @screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}

.cardCol{
  margin: 10px 5px;
  font-size: 12px;
  cursor: pointer;
}

.ant-card-head-title{
  padding: 0;
}
/*任务列表*/
.customImage{
  width: 100%;
  height: 80px;
}

.customCard{
  padding: 10px;
}
.customCard h3{
  font-size: 14px;
  color: #555;
}
.customCard p{
  font-size: 12px;
}
.customBtn{
  padding: 10px;
  margin-bottom: 20px;
}
.customBtn button{
  float: right;
}

