.customImageBox {
  position: relative;
  padding: '2px 0';
  width: 100%; 
  height: 160px;
  text-align: center;
  line-height: 156px;
}
.customImage{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  cursor: pointer;
}
.customNodes{
  width: 100%;
  height: 18px;
  line-height: 18px;
  text-indent: 0.8em;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.customImageBox:hover .customModals{
  display: block;
}

.chooseModal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  font-size: 50px;
  color: #fff;
  line-height: 160px;
}
.diabledModal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background: rgba(255,255,255,0.5);
  text-align: center;
  font-size: 20px;
  color: #555;
  line-height: 160px;
}
.uploadInpBox{
  width: 100%;
  height: 180px;
  border: 1px dashed #d8d8d8;
  border-radius: 4px;
  position: relative;
}
.uploadInpBox input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  filter:Alpha(opacity=0);
}
.uploadViewBox{
  width: 100%;
  height: 100%;
  padding: 50px 0;
  text-align: center;
}
.previewBox{
  width: 100%;
  height: 120px;
}