.channelBox{
  width: 70px;
  cursor: pointer;
  margin-right: 40px;
  float: left;
  text-align: center;
}
.channelNameBox{
  font-size: 14px;
  margin-top: 10px;
}
.channelImgBox img{
  width: 70px;
  height: 70px;
}
.channel_box_title{
  font-size: 16px;
  font-weight: 500;
  color: #333;
  line-height: 20px;
}
.channel_detail{
  color: #555;
  font-size: 14px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 30px;
}
