@import "~antd/lib/style/themes/default.less";

.main {
  width: 368px;
  margin: 0 auto;
  text-align: center;
  .iconTaobao {
    font-size: 100px;
    color: #ff9000
  }
  .desc {
    margin-top: 10px;
  }
}
